@font-face {
    font-family: "Satisfontory";
    src: url("./css/Satisfontory/Satisfontoryv15.eot"); /* IE9 Compat Modes */
    src: url("./css/Satisfontory/Satisfontoryv15.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./css/Satisfontory/Satisfontory_v1.5.otf") format("opentype"), /* Open Type Font */
    url("./css/Satisfontory/Satisfontoryv15.svg") format("svg"), /* Legacy iOS */
    url("./css/Satisfontory/Satisfontory_v1.5.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./css/Satisfontory/Satisfontoryv15.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.SFFont {
    font-family: 'Satisfontory';
    font-size: 24px;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 10px;
}